name: K8s-Automation-Robot
on:
  push:
    branches:
      - main

jobs:
  deploy-to-cluster:
    # This tells GitHub to use the "my-laptop-runner" you just created
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy to K8s
        run: |
          # The robot just runs the command directly on your machine
          helm upgrade --install production-release . --namespace production --create-namespace